body {
    

        border: solid 2px rgb(42, 122, 228);
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255)
}

section {background: green;

padding-bottom: 33px;
padding-top: 34px   ;

}
h6{ background: black;}



